@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: "#008080";
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: var(--primary-color);
    transform-origin: 0%;
}
